---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- for item in collections.all %}
{%- if item.url and ("/web-design-" not in item.url) and (item.url !== "/404.html") and (item.data.noindex !== true) %}
  <url>
    <loc>https://web-orb.uk{{ item.url }}</loc>
    {%- if item.data.date %}
    <lastmod>{{ item.data.date | toISODate }}</lastmod>
    {%- endif %}
    <changefreq>{% if item.url == "/" %}weekly{% elif "/blog/" in item.url %}monthly{% else %}monthly{% endif %}</changefreq>
    <priority>{% if item.url == "/" %}1.0{% elif item.url == "/projects/" or item.url == "/blog/" or item.url == "/contact/" or item.url == "/templates/" %}0.9{% else %}0.8{% endif %}</priority>
  </url>
{%- endif %}
{%- endfor %}
  <url>
    <loc>https://web-orb.uk/locations/</loc>
    <changefreq>monthly</changefreq>
    <priority>0.8</priority>
  </url>
{%- for city in cities %}
  <url>
    <loc>https://web-orb.uk/web-design-{{ city.slug }}/</loc>
    <lastmod>2026-03-10</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.7</priority>
  </url>
{%- endfor %}
</urlset>
